* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;


}



.header-links {
    color: white;
    text-decoration: none;
}

/*entire top of site broken into header and main*/


.start {
    background-color: rgb(31, 41, 55);
    height: 400px;
    display: flex;
    flex-direction: column;
}




/*topbar of start*/

.header {
    height: 75px;
    /*background-color: blue;*/
    display: flex;
    flex-grow: 1;
    gap: 80px;
    align-items: center;


}

.logo {
    color: wheat;
    text-align: start;
    font-size: 40px;
    flex-basis: 1000px;
    margin-left: 75px;
}

/*main section under header*/

.main {
    /*background-color: blueviolet;*/
    height: 300px;
    margin-left: 125px;
    margin-right: 125px;
    flex-direction: row;
    display: flex;


}

/*left and right block of main section of header*/

.left {
    /*background-color: yellow;*/
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.right {
    background-color: red;
    width: 900px;


}

/*left side of main header*/

.line1 {
    margin-top: 10px;
    font-size: 50px;
    font-weight: 500;
    color: white;
}

.line2 {
    font-size: 20px;
    color: wheat;
}

.sign-up {
    width: 100px;
    height: 30px;
    background-color: wheat;
    border-radius: 12px;
}

/*image on right side of main*/

.main-image {
    width: 650px;
    height: auto;
    margin-bottom: 30px;



}