* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;


}




/*entire top of site broken into header and main*/


.start {
    background-color: rgb(31, 41, 55);
    height: 400px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}




/*topbar of start*/

.header {
    height: 75px;
    /*background-color: blue;*/
    display: flex;
    flex-grow: 1;
    gap: 80px;
    align-items: center;


}

.logo {
    color: wheat;
    text-align: start;
    font-size: 40px;
    flex-basis: 1000px;
    margin-left: 75px;
}

.header-links {
    color: wheat;
    text-decoration: none;
    font-size: 20px;
}

/*main section under header*/

.main {
    /*background-color: blueviolet;*/
    height: 300px;
    margin-left: 125px;
    margin-right: 125px;
    flex-direction: row;
    display: flex;


}

/*left and right block of main section of header*/

.left {
    /*background-color: yellow;*/
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.right {
    background-color: red;
    width: 900px;


}

/*left side of main header*/

.line1 {
    margin-top: 10px;
    font-size: 50px;
    font-weight: 500;
    color: white;
}

.line2 {
    font-size: 20px;
    color: wheat;
}

.sign-up {
    width: 100px;
    height: 30px;
    background-color: wheat;
    border-radius: 12px;
}

/*image on right side of main*/

.main-image {
    width: 460px;
    height: auto;
    margin-bottom: 30px;
}

/*section after start section*/

.subsection {
    display: flex;
    flex-direction: column;
    height: 400px;
}

.info {
    text-align: center;
    margin-top: 30px;
    font-size: 35px;
    font-weight: 900;
    color: rgb(37, 52, 73);

}

/*box and box text*/

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 200px;
    gap: 111px;
    align-items: center;

}

.box {
    border: solid black;
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

.textinfo {
    display: flex;
    justify-content: center;
    gap: 105px;
}

.textinfo p {
    font-size: 30px;
    color: black;
}


/*section 3 for quote*/

.quotesection {
    background-color: rgb(153, 150, 150);
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.quote {
    text-align: center;
    font-size: 40px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    font-style: italic;
}

.author {
    text-align: end;
    padding-right: 200px;
    font-size: 25px;
}

/*section 4 for sign up box*/